@charset "utf-8";
/* CSS Document */
img, object, embed, video {max-width:100%;height:auto;}
 
a:link,a:hover,a:visited,a:active{
    text-decoration: none;
    color: #000;
 }

.wrapper_top{
    background-image:url(../img/bg.png) ;
    background-size: 20px auto;
    background-repeat: repeat;
    padding:20px 0 0 0 ;
}

.h1_top{
    padding: 20px auto 0 auto;
       font-family: "MS Gothic","MS ゴシック";
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(10deg, #1bad07 30%, #fdee00 50%, #fd0000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter:drop-shadow(1px 1px 0px black);

}

.count{
    margin: 0 auto 2% auto;
    width: fit-content;
}
.ultop{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2%;
    margin: 0 0 10px 0;
    a{
        font-size: 36px;
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
    font-weight: 900;
    font-style: italic;
    }
}

li{
    /* border: 5px solid #db1e1e; */
    padding:6px 17px 6px 12px ;
        list-style:none;
        width: fit-content;

}

.li01{
    background-color: aqua;
    color: #a7a043;
    p{filter:drop-shadow(1px 1px 0px black);}
    a:link,a:hover,a:visited,a:active{color: #a7a043;
    filter:drop-shadow(1px 1px 0px black);}
}
.li02{
    background-color: #ff59f7;
    p{
          background: linear-gradient(180deg, #58c6ff 0%, #076ad9 40%, #ff0000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
     a:link,a:hover,a:visited,a:active{
          background: linear-gradient(180deg, #58c6ff 0%, #076ad9 40%, #ff0000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}
.nazo{
    width:20px;
    height:20px;
    background-color: #d8d8d8;
    border: 5px solid #006f0f;
    margin:20px 0 0 0;
}
.li03{
    background-color: #67ffbf;
    border: 5px solid #d3b65f;
a:link,a:hover,a:visited,a:active{}
}

.li04{
    background-color: #ffff00;
    border: 2px dotted #000;
}
.li05{
    border: 1px solid #000;
    background-image: url(../img/bg02.jpg);
    background-size: 45px;
    /* width: fit-content; */
}
.li06{
    background-image: url(../img/bg03.jpg);
    background-size: 45px;
}
.li07{
    background-color: #15b200;
    background-size: 45px;
    border: 5px groove #b24ef9;
}
.li08{
    background-color: #a2fffd;
    background-size: 45px;
    border: 5px double #fbff00;
}

.moomin{
    width: fit-content;
    margin: -270px 0 0 10px;
}
.phako{
        width:fit-content;
        margin:-7% 0 0 70%;
        font-family: "MS Gothic","MS ゴシック";
        font-size: 20px;
        color:#ff0000;
        /* border: 1px solid #000; */
          animation: gatagata .3s infinite;
        scale: 1;
        pointer-events: none;
}
@keyframes gatagata{
 0%{transform:translateY(0)}
 25%{transform:translate(0px, 2px) rotateZ(1deg)}
 50%{transform:translate(0px, 2px) rotateZ(0deg)}
 75%{transform:translate(2px, 2px) rotateZ(-1deg)}
 100%{transform:translate(0px, 0px) rotateZ(0deg)}
}

.rikaioya{
    width:200px;
    height: 150px;
    margin: 7% 0 0 3%;
    border:  solid #000;
    border-radius: 5px;
    font-size: 36px;
    padding:0 0 0 20px;
    /* Animation property */
  animation: wiggle 2s linear infinite;
  .rikai{
    width:230px;}
    p{
    font-weight: bold;
    font-family: "MS Gothic","MS ゴシック";
    font-family: "Mochiy Pop One", sans-serif;
}
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);}
  15% {    transform: rotateZ(-15deg);}
  20% {    transform: rotateZ(10deg);}
  25% {transform: rotateZ(-10deg);}
  30% {transform: rotateZ(6deg);}
  35% {    transform: rotateZ(-4deg);}
  40%, 100% {    transform: rotateZ(0);}
}

.solt{
    font-family: "MS Gothic","MS ゴシック";
    font-weight: 800;
    width:230px;
    border: 8px double #6d6d6d;
    margin:-5% 0 0 72%;
    background-color: #ffb0cb;
    p{
    font-family: "MS Gothic","MS ゴシック";
    }
}

.kochobox{
    display: flex;
    margin: -370px auto 0 300px;
    width: fit-content;
    .kocho{
        border: 1px solid #000;
        width: fit-content;
        margin: 0 8% 0 -15%;
    }
    .kochopic{
        background-image: url(../img/fire.jpg);
    }
    .kochop{
        font-size: 36px;
        font-weight: bold;
        color: #ff0000;
        margin: -120% 0 0 10%;
    }
    .watashi{
        color: #ffff00;
        margin: 2% 0 0 11%;
    }
    .meiyo{
        border: 5px dotted #10ff4c;
    }
    .meiyop{
        font-size: 36px;
        font-weight: bold;
        color: #ff0000;
        margin: -90% 0 0 10%;

    }
    .nekop{
        color: #ffff00;
        margin: 0 0 0 2%;
    }    
}

.kakugen{
    margin:-150px 0 20px 840px;
    width:200px;
    height:400px;
    /* border: 1px solid #000; */
    background-image: url(../img/kakugen.jpg);
    background-size:cover;
}
.tate{
writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
    font-family: "MS Gothic","MS ゴシック";
    font-size: 20px;
    margin: 10px 0 0 80px;
}

.koukabox{
    display: flex;
    width:70%;
    height: 70vh;
    margin: 0 auto 50px auto;
    border: 1px solid #000;
    font-family: "MS Gothic","MS ゴシック";
}
.kouka,.omoi{
    width: 50%;
    padding: 2%;
    background-image: url(../img/space.jpg);
    background-size: 7%;
    border: 10px double #747474;
    font-size: 18px;
    font-weight: bold;
    h1{
        font-size: 24px;
    }
}
.omoi p{
    color: #10ff4c;
    text-shadow:1px 1px #000;
}
.footertop{
    text-align: center;
    font-size: 12px;
    padding: 0 0 10px 0;
}