@charset "utf-8";
/* CSS Document */
img, object, embed, video {max-width:100%;height:auto;}
 
a:link,a:hover,a:visited,a:active{
    text-decoration: none;
    color: #000;
 }

.wrapper_top{
    background-image:url(../img/bg.png) ;
    background-size: 20px auto;
    background-repeat: repeat;
    padding:20px 0 0 0 ;
}

.h1_top{
    padding: 20px auto 0 auto;
       font-family: "MS Gothic","MS ゴシック";
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(10deg, #1bad07 30%, #fdee00 50%, #fd0000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter:drop-shadow(1px 1px 0px black);

}

.count{
    margin: 0 auto 2% auto;
    width: fit-content;
}
.ultop{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2%;
    margin: 0 0 10px 0;
    a{
        font-size: 36px;
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
    font-weight: 900;
    font-style: italic;
    }
}

li{
    /* border: 5px solid #db1e1e; */
    padding:6px 17px 6px 12px ;
        list-style:none;
        width: fit-content;

}

.li01{
    background-color: aqua;
    color: #a7a043;
    p{filter:drop-shadow(1px 1px 0px black);}
    a:link,a:hover,a:visited,a:active{color: #a7a043;
    filter:drop-shadow(1px 1px 0px black);}
}
.li02{
    background-color: #ff59f7;
    p{
          background: linear-gradient(180deg, #58c6ff 0%, #076ad9 40%, #ff0000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
     a:link,a:hover,a:visited,a:active{
          background: linear-gradient(180deg, #58c6ff 0%, #076ad9 40%, #ff0000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}
.nazo{
    width:20px;
    height:20px;
    background-color: #d8d8d8;
    border: 5px solid #006f0f;
    margin:20px 0 0 0;
}
.li03{
    background-color: #67ffbf;
    border: 5px solid #d3b65f;
a:link,a:hover,a:visited,a:active{}
}

.li04{
    background-color: #ffff00;
    border: 2px dotted #000;
}
.li05{
    border: 1px solid #000;
    background-image: url(../img/bg02.jpg);
    background-size: 45px;
    /* width: fit-content; */
}
.li06{
    background-image: url(../img/bg03.jpg);
    background-size: 45px;
}
.li07{
    background-color: #15b200;
    background-size: 45px;
    border: 5px groove #b24ef9;
}
.li08{
    background-color: #a2fffd;
    background-size: 45px;
    border: 5px double #fbff00;
}

.moomin{
    width: fit-content;
    margin: -270px 0 0 10px;
}
.phako{
        width:fit-content;
        margin:-7% 0 0 70%;
        font-family: "MS Gothic","MS ゴシック";
        font-size: 20px;
        color:#ff0000;
        /* border: 1px solid #000; */
          animation: gatagata .3s infinite;
        scale: 1;
        pointer-events: none;
}
@keyframes gatagata{
 0%{transform:translateY(0)}
 25%{transform:translate(0px, 2px) rotateZ(1deg)}
 50%{transform:translate(0px, 2px) rotateZ(0deg)}
 75%{transform:translate(2px, 2px) rotateZ(-1deg)}
 100%{transform:translate(0px, 0px) rotateZ(0deg)}
}

.rikaioya{
    width:200px;
    height: 150px;
    margin: 7% 0 0 3%;
    border:  solid #000;
    border-radius: 5px;
    font-size: 36px;
    padding:0 0 0 20px;
    /* Animation property */
  animation: wiggle 2s linear infinite;
  .rikai{
    width:230px;}
    p{
    font-weight: bold;
    font-family: "MS Gothic","MS ゴシック";
    font-family: "Mochiy Pop One", sans-serif;
}
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);}
  15% {    transform: rotateZ(-15deg);}
  20% {    transform: rotateZ(10deg);}
  25% {transform: rotateZ(-10deg);}
  30% {transform: rotateZ(6deg);}
  35% {    transform: rotateZ(-4deg);}
  40%, 100% {    transform: rotateZ(0);}
}

.solt{
    font-family: "MS Gothic","MS ゴシック";
    font-weight: 800;
    width:230px;
    border: 8px double #6d6d6d;
    margin:-5% 0 0 72%;
    background-color: #ffb0cb;
    p{
    font-family: "MS Gothic","MS ゴシック";
    }
}

.kochobox{
    display: flex;
    margin: -370px auto 0 300px;
    width: fit-content;
    .kocho{
        border: 1px solid #000;
        width: fit-content;
        margin: 0 8% 0 -15%;
    }
    .kochopic{
        background-image: url(../img/fire.jpg);
    }
    .kochop{
        font-size: 36px;
        font-weight: bold;
        color: #ff0000;
        margin: -120% 0 0 10%;
    }
    .watashi{
        color: #ffff00;
        margin: 2% 0 0 11%;
    }
    .meiyo{
        border: 5px dotted #10ff4c;
    }
    .meiyop{
        font-size: 36px;
        font-weight: bold;
        color: #ff0000;
        margin: -90% 0 0 10%;

    }
    .nekop{
        color: #ffff00;
        margin: 0 0 0 2%;
    }    
}

.kakugen{
    margin:-150px 0 20px 840px;
    width:200px;
    height:400px;
    /* border: 1px solid #000; */
    background-image: url(../img/kakugen.jpg);
    background-size:cover;
}
.tate{
writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
    font-family: "MS Gothic","MS ゴシック";
    font-size: 20px;
    margin: 10px 0 0 80px;
}

.koukabox{
    display: flex;
    width:70%;
    height: 70vh;
    margin: 0 auto 50px auto;
    border: 1px solid #000;
    font-family: "MS Gothic","MS ゴシック";
}
.kouka,.omoi{
    width: 50%;
    padding: 2%;
    background-image: url(../img/space.jpg);
    background-size: 7%;
    border: 10px double #393939;
    font-size: 18px;
    font-weight: bold;
    h1{
        font-size: 24px;
    }
}
.omoi p{
    color: #10ff4c;
    text-shadow:1px 1px #000;
}
.footertop{
    text-align: center;
    font-size: 12px;
    padding: 0 0 10px 0;
}

/*：：：：：：：：： ここからプロフィール ：：：：：：：*/

.wrapper_prof{
        background-image:url(../img/bg.png) ;
    background-size: 20px auto;
}

.profbox{
    padding: 5% 0 0 0;
    margin: 0 auto 2% auto;
    width: 50%;
    display: flex;
    h3{
        font-size: 20px;
    }
}
.profpic{
    border: 8px double #4c4c4c;
    width: 50%;
    img{
        width: 100%;
    }
}
.proftext{
    border: 8px double #4c4c4c;
    width: 50%;
}
.his_title{
    border: 5px solid #a69000;
    width:fit-content;
    background-color: #fff7c6;
    padding:10px;
    margin: 0 auto 1% auto;
    h4{
    font-family: "MS Gothic","MS ゴシック";
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(10deg, #1bad07 30%, #fdee00 50%, #fd0000 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter:drop-shadow(1px 1px 0px black);}
}
.his_box{
    background-image: url(../img/bg.png);
    background-size: 30%;
    border: 1px solid #000;
    width:50%;
    margin: 0 auto;
}
.totop{
    text-align: center;
    a:link,a:visited{
        color: #520066;
    }
}
.footerprof{
    text-align: center;
    font-size: 12px;
    padding: 0 0 10px 0;    
}

/* ：：：：：：：：：：ここから年間行事：：：：：：：： */
.wrapper_event{
    width: 100%;
}

.spheader{
    display: none;
}
.logosp{
    display: none;
}

.event_header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height:80px;
}
.logobox{
    width: 200px;
    img{
        margin: 17px 0 0 0;
    }
}
.event_nav_box ul{
    display: flex;
    padding: 17px 0 0 0;
    font-family: "Noto Serif JP";
    a{
    padding-bottom: 3px; /* テキストと下線の間隔 */
    width: fit-content;
    height: fit-content;
    margin: -42px 0px 0 0 ;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: bottom right; /* 下線の初期位置 */
    background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
    transition: background-size 0.3s;}
    a:hover{
        color: #565656;
        background-position: bottom left; /* 下線のホバー時位置 */
        background-size: 100% 1px; /* 下線の横幅を100%にする */
    }
}

.linebox{
    width: 100%;
    height: 5vh;
    background-color: #013169;
}

.eventmidashi{
    font-family: "Noto Serif JP";
    font-size: 24px;
    text-align: center;
    margin: 3% auto 5% auto;

}
.eventbox{
    display: flex;
    width: 70%;
    padding:0 0 0 100px;
    margin: 0 auto 50px auto;
}

.event01{
    width:15%;
    /* border: 1px solid #000; */
    border-right: 1px solid #aeaeae;
    /* border: 1px solid #000; */
    p{
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        margin: -61px -60px 0 0;
    }
    .maru{
    font-size: 70px;
    margin: -40px -60px 0 0px;
    color: #003169;
}
}

.event02{
    width:50%;
    padding:0 0 0 40px;
    line-height: 200%;
    /* border: 1px solid #000; */
}

.event03{
    width:35%;
    /* border: 1px solid #000; */
}
.footer_event{
    width: 100%;
    height:50px;
    background-color: #003169;
    padding: 15px 0 0 0;
    p{
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}

html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #fff;
    border: solid 2px #003169;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #003169;
    border-right: 3px solid #003169;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop:hover, .pagetop:hover .pagetop__arrow {
        background: #003169;
        border-color: #ffffff;
    }
}

/* ：：：：：：：：：：：：ここからinfo：：：：：：：： */
.rochester-regular {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}

.wrapper_info{
      background-image: linear-gradient(65deg, #fff1eb, #ffc5e1 57%, #ade4f9);
  margin: 0 auto;
  background-attachment: fixed;
  overflow: hidden;
}

.spheader_info{
    display: none;
}
.header_info{
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:80px;
    padding: 0 10% 0 10%;
    background-color:rgb(255, 255, 255,0.5) ;
    a:link,a:hover,a:visited,a:active{
        color:#574e00 ;

    }
}
.logobox_info{
    display: none;
    width: 200px;
}
.infologo{
    width:70px;
    margin: 7px 0 ;
    img{
        margin: 0 0 5px 0;
    }

}
.info_nav_box ul{
    display: flex;
    padding: 17px 0 0 0;
    font-family: "Noto Serif JP";
    a{
    padding-bottom: 3px; /* テキストと下線の間隔 */
    width: fit-content;
    height: fit-content;
    margin: -42px 0px 0 0 ;
}
    a:hover{
        color: #a39300;

    }
}

.info_midashi{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    .infoh1{    
    font-size: 60px;
    font-family: Rochester;
    color:#574e00 ;
    text-align: center;    }
    .hana01{
        width: fit-content;
        img{
            margin: 2% 0 0 65%;
        }
    }
    .hana02{
        img{
            margin:2% 0 0 -6% ;
        }
    }



}

.houshin{
    font-family: "Noto Serif JP";
    color:#574e00;
    text-align: center;
    margin: -50px 0 80px 0;
}

.oval{
    width: 1000px;
    margin:50px auto 100px auto;
    border: 3px solid #574e00;
    border-radius: 50%;
    height: auto;
    background-color: rgba(255, 255, 255,0.5);
      opacity: 0; /* 最初は非表示 */
  transform: translateX(-30px); /* 左に-30pxの位置から */
  transition: opacity .8s, transform .8s; /* 透過率と縦方向の移動を0.8秒 */
.infoh2{
        font-family: "Noto Serif JP";
        text-align: center;
        margin: 40px auto 30px auto;
    font-size: 24px;
    color: #574e00;
}
p{width:700px;
    margin: 0 auto 90px auto;
    text-align: center;
    color: #574e00;
    line-height: 1.8;
}
}
.oval.is-inview {
  opacity: 1; /* 表示領域に入ったら表示 */
  transform: translateX(0px); /* 0px右に移動する */
  transition-delay: 0.2s; /* フェード開始を秒遅らせる */
}


.hanabox01{
    width: fit-content;
    margin: 0 0 -290px 80% ;
    transform: rotate(-15deg);
}

.hanabox02{
    width: fit-content;
    margin: 0 0 -250px 7%  ;
    transform: rotate(15deg);
}

.hanabox03{
    width: fit-content;
    margin: 0 0 -250px 7%  ;
    transform: rotate(15deg);
}

.hanabox04{
    width: fit-content;
    margin: 0 0 -250px 7%  ;
    transform: rotate(15deg);
}


.pagetop_info {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: #fff;
    border: solid 2px #ff677e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow_info {
    height: 10px;
    width: 10px;
    border-top: 3px solid #ff677e;
    border-right: 3px solid #ff677e;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop_info:hover, .pagetop_info:hover .pagetop__arrow_info {
        background: #ff677e;
        border-color: #ffffff;
    }
}






.footer_info{
    width: 100%;
    height:50px;
    padding: 15px 0 0 0;
    p{
        color: #574e00;
        font-size: 12px;
        text-align: center;
    }
}


/* ::::::::::::::::::ここから卒業生の声 voice:::::::::: */

.wrapper_voice{
    width: 100%;
    background-color: #f4f4f4;
}

.header_voice{
    width:100%;
    height: fit-content;
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 40px solid #ffe13a;
}
.nav_voice{
    width: fit-content;
    height: fit-content;
    padding:5px 2px 9px 6px;
    background-color: #3b3b3b;
    border-radius: 24px;
    a{
    color: #fff;
    font-size: 14px;
    padding-bottom: 3px; /* テキストと下線の間隔 */
    width: fit-content;
    height: fit-content;
    margin: -42px 0px 0 0 ;
    background-image: linear-gradient(#ffe13a, #ffe13a);
    background-repeat: no-repeat;
    background-position: bottom right; /* 下線の初期位置 */
    background-size: 0 1px; /* 下線のサイズ（横幅、高さ） */
    transition: background-size 0.3s;}
    a:hover{
        color: #ffe13a;;
        background-position: bottom left; /* 下線のホバー時位置 */
        background-size: 100% 1px; /* 下線の横幅を100%にする */
    }




    ul{
        display: flex;
    }
}